pynacl==1.2.1
git+git://github.com/Rapptz/discord.py.git@async#egg=discord
pip
youtube_dl
colorlog
cffi --only-binary all; sys_platform == 'win32'
websockets
requests
aiohttp
websockets
chardet
asyncio
